<footer class="page-footer bg-color">
    <div class="container row center-align">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=380 height=52 
        src="//music.163.com/outchain/player?type=2&id=552594869&auto=1&height=32">
        </iframe>
        <div class="col s12 m8 l8 copy-right">
            &copy;&nbsp;2019&nbsp;Li Chunlin&nbsp;|&nbsp;Powered&nbsp;by&nbsp;<a href="https://hexo.io/zh-cn/" target="_blank">
            Hexo</a>
            <a href="http://sccainfo.miitbeian.gov.cn/state/outPortal/loginPortal.action" >&nbsp;|&nbsp;蜀ICP备18030784号</a>
        </div>
        <div class="col s12 m4 l4 social-link"> <%- partial('_partial/social-link') %></div>
    </div>
</footer>

<div class="progress-bar"></div>
